<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
    .swiper-button-prev, .swiper-button-next {
        color: #000; 
        top: 80% !important; 
        height: 40px;
        width: 40px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
    .swiper-button-prev::after, .swiper-button-next::after {
        font-size: 20px;
        font-weight: bold;
    }
    .swiper-button-prev:hover, .swiper-button-next:hover {
        background: rgba(255, 255, 255, 1);
    }
    .swiper-pagination {
        bottom: 10px !important;
    }
    .swiper-pagination-bullet {
        background: #000;
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
    .product--information {
        height: fit-content; 
    }
</style>
<div class="max-w-6xl mx-auto my-8 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="product--medias">
            <!-- Product Image Carousel -->
            <div class="swiper desktop-swiper border-2 border-gray-200 rounded-lg overflow-hidden shadow-lg" style="height: 500px;">
                <div class="swiper-wrapper">
                    {% for media in product.media %}
                        <div class="swiper-slide">
                            <div class="h-full w-full flex items-center justify-center bg-white">
                                {% render 'product-media', media: media %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>


     <div class="product--information sticky top-5 p-2">
            {% form 'product', product %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                               {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'vendor' %}
                            <div class="my-3">
                                <span class="text-xs text-gray-500">{{ product.vendor }}</span>
                            </div>
                        {% when 'title' %}
                            <div class="my-3">
                                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
                            </div>
                        {% when 'price' %}
                            <div class="my-3">
                                <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
                                <span class="text-lg text-gray-900">{{ selected_variant.price | money }}</span>

                                {% if selected_variant.price < selected_variant.compare_at_price %}
                                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                                {% endif %}
                            </div>
                        {% when 'variant_selector' %}
                            <div class="my-3">
                                {% unless product.has_only_default_variant %}
                                    <div data-url="{{ product.url}}" data-section="{{ section.id }}">
                                        {% for option in product.options_with_values %}
                                            <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                                            <div class="my-2">
                                                <select 
                                                    name="options[{{ option.name | escape }}]" 
                                                    id="Option-{{ section.id }}-{{ forloop.index0 }}" 
                                                    class="w-full border py-3 px-3"
                                                >
                                                    {% for value in option.values %}
                                                        <option 
                                                            value="{{ value | escape }}"
                                                            {% if option.selected_value == value %}
                                                                selected="selected"
                                                            {% endif %}
                                                        >
                                                            {{ value }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endunless %}
                            </div>
                            <script type="application/json">
                            {{ product.variants | json }}
                            </script>

                        {% when 'quantity' %}
                            <div class="my-3">
                                <label for="Quantity-{{ section.id }}">Cantidad</label>

                                <div class="my-2">
                                    <input type="number" name="quantity" id="Quantity-{{ section.id }}" value="1" min="1" class="w-full border px-3 py-3">
                                </div>
                            </div>
                        {% when 'description' %}
                            <div class="my-3">
                                <p class="text-gray-700">{{ product.description }}</p>
                            </div>

                        {% when 'checkout_buttons' %}
                            <div class="my-3">
                                <button type="submit" name="add" class="w-full px-6 py-4 text-white rounded-sm my-2 transition-colors"
                                    style="background-color: #222121;"
                                    onmouseover="this.style.backgroundColor='#333333'"
                                    onmouseout="this.style.backgroundColor='#222121'"
                                    {% if selected_variant.available == false %}
                                        disabled
                                    {% endif %}
                                >
                                    {% if selected_variant.available == false %}
                                        Agotado
                                    {% else %}
                                        Agregar al carrito
                                    {% endif %}
                                </button>
                            </div>
                        {% else %}
                            
                    {% endcase %}
                {% endfor %}
            {% endform %}
        </div>
    </div>
</div>


<script>
    class VariantSelector extends HTMLElement {
        constructor() {
            super();
            this.addEventListener("change", this.onVariantChange);
        }

        onVariantChange() {
            this.getSelectedOptions();
            this.getSelectedVariant();

            if(this.currentVariant) {
                this.updateURL();
                this.updateFormID();
                this.updatePrice();
            }
        }

        getSelectedOptions() {
            this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
            console.log(this.options);
        }

        getVariantJSON() {
            this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
            return this.variantData;
        }

        getSelectedVariant() {
            this.currentVariant = this.getVariantJSON().find(
                (variant) => {
                    const findings = !variant.options.map(
                        (option, index) => {
                            return this.options[index] === option;
                        }
                    ).includes(false);

                    if(findings) return variant;
                }
            );

            console.log(this.currentVariant);
        }

        updateURL() {
            if(!this.currentVariant) return;
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
        }

        updateFormID() {
            const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
            form_input.value = this.currentVariant.id;
        }

        updatePrice() {
            fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
            .then((response) => response.text())
            .then((responseText) => {
                const id = `price-${this.dataset.section}`;
                const html = new DOMParser().parseFromString(responseText, 'text/html');

                const oldPrice = document.getElementById(id);
                const newPrice = html.getElementById(id);

                if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
            });
        }
    }

    customElements.define("variant-selector", VariantSelector);
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const swiper = new Swiper('.desktop-swiper', {
            direction: 'horizontal',
            loop: false,
            slidesPerView: 1,
            spaceBetween: 0,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                dynamicBullets: true
            },

            navigation: {
                prevEl: '.swiper-button-prev',
                nextEl: '.swiper-button-next'
            },
            
            keyboard: {
                enabled: true,
            },

            effect: 'fade',
            fadeEffect: {
                crossFade: true
            }
        });
    });
</script>

{% schema %}
{
    "name": "Product",
    "blocks": [
        {
            "type": "vendor",
            "name": "Vendor",
            "limit": 1
        },
        {
            "type": "title",
            "name": "Nombre del producto",
            "limit": 1
        },
        {
            "type": "price",
            "name": "Precio",
            "limit": 1
        },
        {
            "type": "variant_selector",
            "name": "Selector de variante",
            "limit": 1
        },
        {
            "type": "quantity",
            "name": "Cantidad",
            "limit": 1
        },
        {
            "type": "description",
            "name": "Descripción",
            "limit": 1
        },
        {
            "type": "checkout_buttons",
            "name": "Botones de pago",
            "limit": 1
        }
    ]
}
{% endschema %}